$header: "Dosis", helvetica, arial, sans-serif;
$body: "Source Sans Pro", georgia, serif;
$code: "Source Code Pro", Menlo, Monaco, Consolas, monospace;

$dark: hsl(200, 30%, 20%);
$light: hsl(30, 20%, 92%);
$gray-10: mix($dark, $light, 10%);
$gray-20: mix($dark, $light, 20%);
$gray-30: mix($dark, $light, 30%);
$gray-40: mix($dark, $light, 40%);
$gray-50: mix($dark, $light, 50%);
$gray-60: mix($dark, $light, 60%);
$gray-80: mix($dark, $light, 80%);

$text: hsl(30, 10%, 40%);

$code-color: hsl(30, 5%, 55%);
$code-bg:    mix($light, #fff, 50%);

$blue:        hsl(200, 60%, 50%);
$blue-hover:  hsl(200, 100%, 80%);
$blue-dark:   hsl(200, 80%, 30%);
$blue-glow:  hsla(200, 100%, 50%, 0.4);

// TODO: Green is not currently used.
$green:       hsl(100, 70%, 35%);
$green-light: hsl(100, 70%, 45%);
$green-hover: hsl(100, 80%, 70%);
$green-dark:  hsl(100, 70%, 20%);
$green-glow: hsla(100, 70%, 50%, 0.5);

$gold:        hsl(40, 70%, 50%);
$gold-hover:  hsl(40, 70%, 80%);
$gold-dark:   hsl(40, 80%, 30%);
$gold-glow:  hsla(40, 70%, 50%, 0.4);

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, code, h1, h2, h3, p, pre, tt {
  margin: 0;
  padding: 0;
}

body {
  background: $light;
  color: hsl(40, 10%, 40%);
  font: 17px/26px $body;
}

.page {
  position: relative;
  margin: 0 auto;
  width: 800px;

  // Clear contents.
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.left-1 { float: left; width: 240px; }
.left-2 { float: left; width: 520px; }
.right-1 { float: right; width: 240px; }
.right-2 { float: right; width: 520px; }

header {
  .page {
    height: 150px;
  }

  background: $dark;

  h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    font: 64px $header;
    font-weight: 300;
    letter-spacing: 2px;
  }

  h2 {
    position: absolute;
    right: 0;
    bottom: 11px;
    padding: 0;
    font: 18px $header;
    font-weight: 300;
    letter-spacing: 1px;
    color: hsl(200, 30%, 40%);
  }

  a {
    color: $blue;
  }

  a:hover {
    color: $blue-hover;
    text-shadow: 0 0 6px $blue-glow;
  }

  ul {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 8px;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    position: relative;
    margin: 0 5px;

    font: 18px $header;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
  }
}

.header-bar {
  height: 100px;
  background: $gray-10;
  border-top: solid 1px $gray-20;
  border-bottom: solid 1px white;

  h1 {
    padding-top: 30px;
    font: 48px/60px $header;
    font-weight: 400;
    color: $gray-60;

    small {
      font-size: 36px;
      font-weight: 400;
      color: $gray-40;
    }
  }
}

nav {
  padding-top: 20px;

  h2 {
    color: $gray-30;
    font: normal 18px $header;
    font-weight: 300;
    margin: 0;
    letter-spacing: 1px;
  }

  ul {
    padding: 0;
    margin: 6px 0 20px 0;
  }

  li {
    font: 15px $body;
    font-weight: 400;
    list-style-type: none;
    margin: 0 0 4px 0;
  }
}

h2 {
  font: normal 24px $header;
  margin: 24px 0 0 0;
  color: $blue;
}

h3 {
  font: normal 20px $header;
  margin: 24px 0 0 0;
  color: $blue;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color 0.2s, text-shadow 0.2s;
  outline: none;
}

main {
  padding-top: 12px;
}

a:hover {
  color: $blue-dark;
}

.header-anchor {
  color: $light;
}

h2:hover > .header-anchor,
h3:hover > .header-anchor {
  color: $gray-10;
}

h2:hover > .header-anchor:hover,
h3:hover > .header-anchor:hover {
  color: $blue-dark;
}

p, li {
  margin: 10px 0;
}

p + p {
  margin-top: 20px;
}

code, pre {
  color: $code-color;
  font: 14px $code;
  background: $code-bg;
  border-radius: 4px;
  border-bottom: solid 1px $gray-10;
  border-top: solid 1px #fff;
}

code {
  padding: 1px 3px;
  white-space: nowrap;
}

pre {
  margin: 10px 0;
  line-height: 20px;
  padding: 10px;

  // Scroll horizontally if not wide enough.
  overflow: auto;
}

footer {
  margin-top: 20px;
  padding: 20px 0 40px 0;
  font: 14px $body;
  background: hsl(40, 5%, 60%);
  color: hsl(40, 15%, 85%);
}

// Syntax highlighting.
.codehilite pre {
  // Comments.
  span.c1, span.cm { color: mix($code-color, $code-bg, 60%); }

  // Keywords.
  span.k, span.kd, span.kc  { color: $blue; }

  // Numbers.
  span.m, span.mi { color: $green; }

  // Strings.
  span.s, span.s2  { color: $gold; }
  span.se          { color: mix($gold, $gold-dark, 50%); }
}

// Category colors.
body.reference {
  a {
    color: $gold;
  }

  a:hover {
    color: $gold-dark;
  }

  header {
    a:hover {
      color: $gold-hover;
    }
  }

  main {
    h2, h3 {
      color: $gold;
    }

    .header-anchor {
      color: $light;
    }

    h2:hover > .header-anchor,
    h3:hover > .header-anchor {
      color: $gray-10;
    }

    h2:hover > .header-anchor:hover,
    h3:hover > .header-anchor:hover {
      color: $gold-dark;
    }
  }
}

// Bar charts on the performance page.
table.chart {
  width: 100%;

  td, th {
    line-height: 14px;
    margin: 0;
    padding: 0;
  }

  th {
    font-size: 14px;
    text-align: left;
    width: 100px;
  }

  .chart-bar {
    display: inline-block;
    font: 13px $body;
    color: $light;
    background: $blue;
    border-bottom: solid 1px $blue-dark;
    text-align: right;
    border-radius: 2px;
  }

  .chart-bar.wren {
    background: mix($blue, $blue-dark, 30%);
    border-bottom: solid 1px $blue-dark;
  }
}

/*
@media only screen and (max-width: 639px) {
  // Shrink the window padding.
  body {
    padding: 0 20px;
  }

  // Make the nav gutter narrower.
  main {
    margin-left: 140px;
  }
}

@media only screen and (max-width: 479px) {
  // Make the header centered.
  header {
    height: auto;

    h1 {
      position: relative;
      text-align: center;
      margin-top: 20px;
    }

    h2 {
      position: relative;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  nav {
    position: relative;
    width: auto;
    margin: 0;
  }

  main {
    margin-left: 0;
  }
}
*/