# Build outputs.
/bin
/lib
/wren

# Intermediate files.
/build
/obj
/.sass-cache
*.pyc
/util/vs2017/build
/util/vs2017/obj

# I leave a temporary Wren script at the top level so that I can quickly test
# stuff.
/scratch.wren

# The baseline file is machine-specific, so doesn't get checked in.
/test/benchmark/baseline.txt

# XCode user-specific stuff.
xcuserdata/

# Allow Visual Studio project files.
!wren/
!wren_lib/

# Visual Studio cache files.
.vs/
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio User-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates
