# Intermediate files directory.
build/
build_xcode/
.sass-cache/

# Built files at the top level.
wren
wrend
wren-cpp
libwren.a
libwrend.a
libwren-cpp.a

# XCode user-specific stuff.
xcuserdata/
*.xccheckout

# I leave a temporary Wren script at the top level so that I can quickly test
# stuff.
scratch.wren

# The baseline file is machine-specific, so doesn't get checked in.
benchmark/baseline.txt

# built docs get copied here, which is presumed to be a separate checkout of
# the repo so they can be pushed to GitHub Pages.
gh-pages/